@font-face {
  font-family: Nunito;
  font-weight: 300;
  font-style: normal;
  src: url('../fonts/nunito-300.woff2') format('woff2'),
    url('../fonts/nunito-300.woff') format('woff');
}

@font-face {
  font-family: 'Lato';
  font-weight: 700;
  font-style: normal;
  src: url('../fonts/lato-700.woff2') format('woff2'),
    url('../fonts/lato-700.woff') format('woff');
}

:root {
  --header-font: Lato,-apple-system,ui-sans-serif,system-ui,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica Neue,Arial,Noto Sans,sans-serif,Apple Color Emoji,Segoe UI Emoji,Segoe UI Symbol,Noto Color Emoji;
  --text-font: Nunito,Söhne,ui-sans-serif,system-ui,-apple-system,Segoe UI,Roboto,Ubuntu,Cantarell,Noto Sans,sans-serif,Helvetica Neue,Arial,Apple Color Emoji,Segoe UI Emoji,Segoe UI Symbol,Noto Color Emoji;
  --gutter-size: 25px;
}

@media screen and (min-width: 800px) {
  :root {
    --gutter-size: 40px;
  }
}

html {
  overflow: hidden;
}

body {
  margin: 0;
  background-color: #fff;
  color: #121315;
  font: 300 1rem / 1.75 var(--text-font);
  height: 100vh;
  max-height: -webkit-fill-available;
  overflow: hidden auto;
}

.app-root {
  padding-top: 55px;
}

.main-header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 0 var(--gutter-size);
  height: 55px;
  z-index: 2;
  box-sizing: border-box;
  background-color: #fff;
  box-shadow: 0 2px 10px #0000;
  display: flex;
  align-items: center;
  justify-content: space-between;

  div {
    display: flex;
    align-items: center;

    h2 {
      font-size: 1.15rem;
      font-weight: 600;
      font-family: var(--header-font);
      padding-left: .5rem;
    }
  }

  .web-nav {
    display: none;
    height: 100%;

    ul {
      list-style: none;
      height: 100%;
      margin: 0;
      padding: 0;

      li {
        height: 100%;
        display: inline-block;

        &:not(:last-child) {
          margin-right: 1rem;
        }

        a {
          position: relative;
          display: flex;
          align-items: center;
          text-decoration: none;
          color: #121315;
          padding: 0 .5rem;
          height: 100%;

          &::after {
            content: '';
            position: absolute;
            bottom: 15px;
            left: 0;
            width: calc(100% - 1rem);
            height: 3px;
            border-radius: 2px;
            background: linear-gradient(90deg, #2ed3cb, #2e94d3);
            transform: scaleX(0%) translateX(.5rem);
            transition: transform .3s ease-in-out;
          }

          &:hover::after {
            transform: scaleX(100%) translateX(.5rem);
          }
        }
      }
    }
  }
}

.subscribe-button {
  border: none;
  font: inherit;
  font-family: var(--header-font);
  font-size: 0.85rem;
  border-radius: 30px;
  padding: 0.5rem 1rem;
  background: #0066ff;
  color: #fff;
  cursor: pointer;
  transition: filter .15s ease-in-out;

  &:hover {
    filter: brightness(105%);
  }
}

.mobile-toggle {
  border: 0;
  background: #0000;
  cursor: pointer;
  display: flex;
  padding: 0;
  margin-right: 1rem;
  border-radius: 50%;
  width: 42px;
  height: 42px;
  display: grid;
  place-items: center;
  transition: background-color .2s ease-in-out;

  &:hover {
    background-color: #f8f8f8;
  }

  svg {
    pointer-events: none;
  }
}

.mobile-nav {
  position: fixed;
  display: block;
  top: 55px;
  left: 0;
  width: 100%;
  z-index: 2;
  height: calc(100vh - 55px);
  max-height: calc(100dvh - 55px);
  background-color: #fff;
  transform: translateX(-100%);
  transition: transform .3s ease-in-out;

  &.toggled {
    transform: translateX(0);
  }

  ul {
    display: grid;
    align-items: center;
    margin: 0;
    padding: 0;
    list-style: none;
    height: 100%;

    li {
      height: 100%;
      display: block;

      a {
        width: 100%;
        height: 100%;
        text-decoration: none;
        color: #121315;
        display: grid;
        padding: 0;
        place-items: center;
        transition: background-color .3s ease-in-out;

        &:hover {
          background-color: #eee;
        }
      }
    }
  }
}

path {
  transition: 300ms ease-in-out;
}

.line1 {
  stroke-dasharray: 60 138;
}

.line2 {
  stroke-dasharray: 40 30;
}

.line3 {
  stroke-dasharray: 60 138;
}

.toggled {
  .line1 {
    stroke-dasharray: 55 130;
    stroke-dashoffset: -125;
  }

  .line2 {
    stroke-dashoffset: -30;
    stroke-dasharray: 1 30;
    stroke-width: 0;
  }

  .line3 {
    stroke-dasharray: 55 130;
    stroke-dashoffset: -125;
  }
}

@media screen and (min-width: 850px) {
  .mobile-toggle {
    display: none;
  }

  .web-nav {
    display: block !important;
  }

  .mobile-nav {
    display: none !important;
  }
}

footer {
  background-color: #0e2a3a;
  color: #fff;
  padding: 40px var(--gutter-size);

  a {
    color: #fff;
    text-decoration: 1px solid underline;
    text-decoration-color: #0000;
    text-underline-offset: 2px;
    transition: text-decoration-color .2s ease-in-out;
    font-size: 1rem;

    &:hover {
      text-decoration-color: #fff;
    }
  }

  .footer-top {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    max-width: 1000px;
    margin: 0 auto;

    article {
      width: 280px;

      header h3 {
        font: 400 1rem / 1.75 var(--text-font);
        color: #869cb6;
      }

      ul {
        list-style: none;
        padding: 0;
        margin: 0;
      }
    }
  }
  
  .footer-bottom {
    display: flex;
    align-items: center;
    margin-top: 1rem;
    max-width: 1000px;
    margin: 0 auto;

    img {
      margin-right: .5rem;
    }
  }
}


@keyframes slide-down {
  0% {
    transform: translateY(-30px);
    opacity: 0;
  }

  100% {
    transform: translateY(0px);
    opacity: 1;
  }
}

@keyframes slide-up {
  0% {
    transform: translateX(-30px);
    opacity: 1;
  }

  100% {
    transform: translateY(0px);
    opacity: 0;
  }
}

.subscribe-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: grid;
  place-items: center;
  pointer-events: none;
  z-index: 2;
  padding-inline: 8px;

  .subscribe-modal {
    position: absolute;
    background-color: #fff;
    pointer-events: initial;
    display: flex;
    flex-flow: column;
    align-items: center;
    text-align: center;
    padding: 40px;
    max-width: 460px;
    box-sizing: border-box;
    border-radius: 30px;
    box-shadow: 2px 2px 10px #0002;
    opacity: 0;
    transform: translateY(-30px);
    transition: .3s;

    @media screen and (max-width:500px) {
      padding: 40px 20px;
    }

    &.toggled {
      transform: translateY(0);
      opacity: 1;
      animation: slide-down .5s cubic-bezier(0, 1, .5, 2.5);
    }

    .close-modal {
      position: absolute;
      top: 1rem;
      right: 1rem;
      border-radius: 10px 30px 10px 10px;
      border: 0;
      outline: 0;
      box-shadow: 0;
      background-color: #0000;
      color: #121315;
      font: inherit;
      line-height: 1;
      font-size: 1.4rem;
      padding: 0.5rem 1.2rem 0.5rem 1rem;
      cursor: pointer;
      transition: .15s ease-in-out;

      &:hover {
        background-color: #efeff0;
        color: #0066ff;
      }
    }

    h2 {
      font-size: 1.8rem;
      font-family: var(--header-font);
      margin: 0 0 1rem;
    }

    .disclaimer {
      margin-bottom: 2rem;
      color: #73777b;
    }

    .name-inputs {
      display: flex;
      align-items: center;
      column-gap: 1rem;
      margin-bottom: 1rem;
      width: 100%;
      box-sizing: border-box;

      @media screen and (max-width:540px) {
        flex-flow: column;
        row-gap: 1rem;
      }
    }

    .g-recaptcha {
      display: flex;
      justify-content: center;
      margin-top: 1rem;
    }

    form {
      width: 100%;
      box-sizing: border-box;
      display: flex;
      flex-flow: column;
      align-items: center;

      &::-webkit-input-placeholder {
        color: #83878b;
      }

      #switch {
        margin: 1rem 0;

        .switch-container {
          margin-right: .5rem;
        }
      }
    }

    input {
      background-color: #f6f8fa;
      color: #585b5e;
      font: inherit;
      padding: .75rem 1rem;
      border: 0;
      outline: 0;
      border-radius: 8px;
      width: 100%;
      box-sizing: border-box;

      &[type=email] {
        display: block;
        width: 100%;
        box-sizing: border-box;
      }

      &[type=submit] {
        margin-top: 1rem;
        border: none;
        font: inherit;
        font-family: var(--header-font);
        font-size: 1.2rem;
        line-height: 1;
        border-radius: 15px;
        width: 100%;
        height: 3.8rem;
        background: #0066ff;
        color: #fff;
        cursor: pointer;
        transition: filter .15s ease-in-out;
        box-shadow: 1px 1px 5px #0066ffaa;

        &:hover {
          filter: brightness(105%);
        }
      }
    }
  }
}

.switch-container {
  position: relative;
  display: inline-block;
  width: 52px;
  height: 30px;
  margin-left: .5rem;

  input { 
    opacity: 0;
    width: 0;
    height: 0;

    &:checked + .slider {
      background-color: #0066ff;
    }

    &:focus + .slider {
      box-shadow: 0 0 1px #0066ff;
    }

    &:checked + .slider:before {
      transform: translateX(22px);
    }
  }

  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
    border-radius: 34px;

    &:before {
      position: absolute;
      content: "";
      height: 22px;
      width: 22px;
      left: 4px;
      bottom: 4px;
      background-color: white;
      -webkit-transition: .4s;
      transition: .4s;
      border-radius: 50%;
    }
  }
}

.hidden {
  display: none;
}