section {
  position: relative;
  padding: 120px var(--gutter-size);

  h2 {
    font-size: 1.8rem;
    font-family: var(--header-font);
    margin: 0 0 2rem;
  }
}

.hero {
  background: #fff;
  width: 100%;
  height: calc(100vh - 55px);
  max-height: calc(100dvh - 55px);
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  padding: 0 var(--gutter-size);
  box-sizing: border-box;

  @media screen and (max-height: 600px) {
    height: calc(100vh + 75px);
    padding-bottom: 130px !important;
  }

  .hero__header {
    padding: 1rem;
    text-align: center;

    img {
      margin-bottom: 2rem;
      animation: slide-up .5s ease-in-out;
    }

    h1 {
      font-size: 2rem;
      font-family: var(--header-font);
      margin: 0 0 1rem;
      opacity: 0;
      animation: slide-up .5s .1s ease-in-out forwards;
    }

    div {
      font-size: 1.4rem;
      animation: slide-up .5s .2s ease-in-out forwards;
      opacity: 0;
    }

    @keyframes slide-up {
      0% {
        transform: translateY(30px);
        opacity: 0;
      }

      100% {
        transform: translateY(0px);
        opacity: 1;
      }
    }
  }
}

.about {
  background-color: #2e94d3;
  color: #fff;
  padding-bottom: 180px;

  div div {
    margin-bottom: 1rem;
  }

  a {
    display: inline-block;
    text-decoration: none;
    font: inherit;
    color: #fff;
    border: 1px solid #fff;
    background-color: #0000;
    outline: 0;
    box-shadow: none;
    padding: .5rem 1rem;
    margin-top: 1rem;
    cursor: pointer;
    transition: background-color .1s ease-in-out,
      color .1s ease-in-out;

    &:hover {
      background-color: #fff;
      color: #121315;
    }
  }
}

.about div,
.follow-on-facebook div {
  max-width: 1000px;
  margin: 0 auto;

  img {
    max-width: 800px;
    margin: 0 auto;
    display: block;
    margin-top: 1rem;
  }
}

a {
	color: #0066ff;
	text-decoration-color: #0000;
	transition: text-decoration-color .1s ease-in-out;

	&:hover {
		text-decoration-color: #0066ff;
	}
}